<div>
  <form action="/names" method="post">
    <laber for="player1">PLAYER 1</label>
    <input type="text" name="player1"/>
    <laber for="player2">PLAYER 2</label>
    <input type="text" name="player2"/>
    <input type="submit" value="Submit"/>
  </form>
</div>
