<div>
  <form action="/names" method="post">
    PLAYER 1
    <input type="text" name="player1name"/>
    PLAYER 2
    <input type="text" name="player2name"/>
    <input type="submit" value="Submit"/>
  </form>
</div>
